@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto.woff2);
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border: 2px solid transparent;
	background-clip: content-box;
	background-color: rgba(128, 0, 255, 0.25);
}
::-webkit-scrollbar-thumb:active {
	background-color: rgba(128, 0, 255, 0.5);
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
::selection {
	background-color: #8000ff;
	color: #ffffff;
}
* {
	overflow: hidden;
	caret-color: currentColor !important;
	outline: none;
}
body {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	user-select: none;
	color: #000000;
}
.indeterminate, .loading {
	cursor: wait;
}
div {
	box-sizing: border-box;
}
.hidden {
	display: none !important;
}
.intangible, .intangible * {
	pointer-events: none !important;
}
.spaced + .spaced {
	margin-left: 6px;
}
hr {
	pointer-events: none;
	border-top-color: rgba(0, 0, 0, 0.1);
	border-left-width: 0;
	border-bottom-width: 0;
}
button:disabled {
	opacity: 0.5;
	pointer-events: none;
}
button:focus {
	outline: none;
}
button * {
	pointer-events: none;
}
button.filled {
	background-color: #6e00db;
	color: #ffffff !important;
}
button.filled::before, button.filled::after {
	background-color: #ffffff;
}
.mdc-icon-button {
	padding: 0;
	border-radius: 50%;
}
.mdc-icon-button::before, .mdc-icon-button::after {
	border-radius: inherit;
}
.double-icon > * {
	display: inline-block;
}
.double-icon > :first-child {
	position: relative;
	left: 5px;
	top: -1px;
}
.double-icon > :last-child {
	position: relative;
	left: -11px;
	top: 6px;
	transform: scale(0.75);
}
.mdc-text-field {
	width: 100%;
}
.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) {
	margin-top: 0;
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input:read-only {
	border-bottom: 1px dotted rgba(35, 31, 32, 0.26);
}
.mdc-text-field__input:read-only ~ .mdc-line-ripple {
	display: none;
}
label {
	pointer-events: none;
}
.alwaysFloat {
	transform: translateY(-100%) scale(0.75);
}
label:not(.mdc-floating-label) {
	display: block;
	margin: 4px 0 2px 0;
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.6);
}
.opaque {
	opacity: 1 !important;
}
.checkerboard {
	background-image: linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%, #eeeeee 100%), linear-gradient(45deg, #eeeeee 25%, #ffffff 25%, #ffffff 75%, #eeeeee 75%, #eeeeee 100%);
	background-position: 0px 0px, 10px 10px;
	background-size: 20px 20px;
}
.hoverScrollbar {
	cursor: default !important;
}
.mdc-chip {
	height: initial;
	padding: 2px 8px;
}
.mdc-chip > * {
	pointer-events: none;
}
.mdc-chip__icon {
	min-width: 20px;
}
.mdc-chip__text {
	text-overflow: ellipsis;
}
.mdc-chip--selected {
	pointer-events: none;
	background-color: #f4f4f4;
}
.mdc-slider {
	height: 24px;
	overflow: visible;
}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-container {
	background-color: rgba(98, 0, 238, 0.26);
}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track {
	background-color: #6200ee;
}
.mdc-slider__thumb-container {
	margin-top: -12px;
}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__thumb {
	fill: #6200ee;
	stroke: #6200ee;
}
.barCell {
	width: 100%;
	max-width: 0;
	padding: 0;
	overflow: visible;
}
.bar {
	display: flex;
	position: relative;
	height: 24px;
	pointer-events: initial;
}
.barCell > .bar {
	padding-left: 2px;
	pointer-events: none;
}
.focus > .bar, .focus > .barCell > .bar {
	background-color: rgba(128, 0, 255, 0.05);
}
.selected > .bar, .selected > .barCell > .bar {
	background-color: rgba(128, 0, 255, 0.1);
}
.active .selected > .bar, .active .selected > .barCell > .bar {
	background-color: rgba(128, 0, 255, 0.15);
}
.bar > .icon {
	min-width: 24px;
	margin-right: 4px;
	pointer-events: none;
}
.bar > .close {
	background-color: transparent;
	pointer-events: initial;
}
.label {
	line-height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.label:not(td) {
	pointer-events: none;
}
.close {
	top: 3px;
	right: 3px;
	border-radius: 50%;
	pointer-events: initial;
	background-color: inherit;
	transform: scale(0);
	font-size: 18px;
}
.close:not(td) {
	position: absolute;
}
.close::after {
	opacity: 0.25;
	content: "close";
}
:hover > .close, .barCell:hover .close {
	transform: scale(1);
}
.close:hover::after {
	opacity: 0.625;
}
.close:active::after {
	opacity: 1;
}
.separator {
	display: inline-block;
	width: 1px;
	height: 100%;
	margin: 0 8px;
	background-color: #d0d0d0;
}
.drag {
	position: relative;
	top: -1px;
	width: 100%;
	height: 2px;
	margin-bottom: -2px;
	background-color: #8000ff;
}
#container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	position: relative;
	background-color: #d0d0d0;
}
.mdc-dialog {
	position: absolute;
}
.mdc-dialog__surface {
	width: auto;
	min-width: 280px;
	max-width: 880px;
	max-height: 100%;
	margin: 15px;
	word-break: break-word;
	word-wrap: break-word;
}
.mdc-dialog__body {
	overflow-y: auto;
}
.mdc-dialog__header, .mdc-dialog__footer {
	flex-shrink: 0;
}
#tabs {
	display: flex;
	width: 100%;
	height: 24px;
	min-height: 24px;
	padding-top: 1px;
	cursor: default;
}
.tab {
	position: relative;
	left: 0;
	width: 256px;
	min-width: 36px;
	padding: 0 4px;
	border-radius: 6px 6px 0 0;
	background-color: #e0e0e0;
	text-align: center;
	white-space: nowrap;
}
.tab + .tab {
	margin-left: 1px;
}
.tab:not(.current):hover {
	background-color: #e6e6e6;
}
.tab.current {
	z-index: 4;
	background-color: #f0f0f0;
}
.tab .label {
	font-size: 14px;
}
.tab:not(.saved) .label::before {
	color: #8000ff;
	content: "*"
}
#homeTab {
	width: initial;
	padding: 0 4px;
}
#homeTab .label {
	font-size: 20px;
}
.tab.smooth {
	transition: left 0.15s ease-out;
}
#toolbar {
	position: relative;
	width: 100%;
	min-height: 48px;
	padding: 6px;
	z-index: 3;
	white-space: nowrap;
	background-color: #f0f0f0;
}
#toolbar button {
	width: 36px;
	height: 36px;
	border-radius: 8px;
}
#loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba(128, 0, 255, 0.3);
}
@keyframes indeterminate {
	0% {
		left: -50%;
	}
	100% {
		left: 100%;
	}
}
.indeterminate #loading {
	display: block;
	width: 50%;
	animation: indeterminate 2s infinite linear;
}
.loading #loading {
	display: block;
	width: 0;
}
.page {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 100%;
}
#homePage {
	background-color: #e0e0e0;
	background-image: url(../images/icon.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.panelGroup {
	display: flex;
	position: relative;
}
#allPanels {
	flex-grow: 1;
}
#leftPanels {
	flex-grow: 1;
	flex-direction: column;
	min-width: 300px;
}
#topPanels {
	flex-grow: 1;
	min-height: 150px;
}
#rightPanels {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-width: 150px;
	box-shadow: -3px 0 1px -2px rgba(0, 0, 0, 0.2);
}
.handle {
	position: absolute;
	z-index: 1;
}
.handle.left, .handle.top {
	left: 0;
	top: 0;
}
.handle.right, .handle.bottom {
	right: 0;
	bottom: 0;
}
.handle.left, .handle.right {
	width: 4px;
	height: 100%;
	cursor: ew-resize;
}
.handle.top, .handle.bottom {
	width: 100%;
	height: 4px;
	cursor: ns-resize;
}
.panel {
	position: relative;
	min-width: 150px;
	min-height: 150px;
	padding: 6px;
	background-color: #f0f0f0;
}
.head, .foot {
	height: 24px;
	min-height: 24px;
	line-height: 24px;
	white-space: nowrap;
}
.head button, .foot button {
	width: 24px;
	height: 24px;
	vertical-align: bottom;
	font-size: 18px;
}
.foot {
	margin-top: 2px;
}
.foot button.rotated {
	transform: rotate(90deg);
}
.foot button.translucent {
	opacity: 0.2;
}
.foot .mdc-text-field, .foot .mdc-text-field > input {
	width: initial;
	height: 20px !important;
}
.foot .mdc-text-field {
	margin: 0;
	transform: translateY(3px);
}
.foot .mdc-text-field > input {
	padding: 0;
	font-size: 15px;
}
.foot > * {
	vertical-align: middle;
}
.panel > .contents {
	height: 100%;
}
.box {
	flex-grow: 1;
	position: relative;
	margin-top: 6px;
	border: 1px solid #d0d0d0;
	overflow-y: auto;
	background-color: #e8e8e8;
}
.filler {
	display: inline-block;
	overflow: visible;
	pointer-events: none;
}
#assetContainer {
	width: 300px;
	min-width: 150px;
	border-bottom: 1px solid #d0d0d0;
	box-shadow: 3px 0 1px -2px rgba(0, 0, 0, 0.2);
	z-index: 2;
}
#contentContainer {
	min-width: 150px;
	min-height: 150px;
}
#assetContainer > .contents, #layerContainer > .contents, #sceneContainer > .contents {
	display: flex;
	flex-direction: column;
}
.asset, .timelineItem, .scene {
	overflow: visible;
	pointer-events: none;
}
.typeGroup > .bar:hover > .icon, .timelineItem > .bar:hover > .icon {
	pointer-events: initial;
	cursor: pointer;
	transform: rotate(0);
}
.asset.open > .bar:hover > .icon, .timelineItem.open > .bar:hover > .icon {
	transform: rotate(90deg);
}
.typeGroup > .bar > .icon::before {
	content: "folder";
}
.typeObj > .bar > .icon::before {
	content: "widgets";
}
.asset.typeFile[data-mime^="image/"] > .bar > .icon::before, .timelineItem.typeImage > .bar > .icon::before {
	content: "image";
}
.asset.typeFile[data-mime^="audio/"] > .bar > .icon::before, .timelineItem.typeAudio > .bar > .icon::before {
	content: "audiotrack";
}
.typeGroup > .bar:hover > .icon::before, .timelineItem > .bar:hover > .icon::before {
	display: none;
}
.typeGroup > .bar:not(:hover) > .icon::after, .timelineItem > .bar:not(:hover) > .icon::after {
	display: none;
}
.typeGroup > .bar > .icon::after, .timelineItem > .bar > .icon::after {
	opacity: 0.25;
	content: "chevron_right";
}
.typeGroup > .bar > .icon:hover::after, .timelineItem > .bar > .icon:hover::after {
	opacity: 0.625;
}
.typeGroup > .bar > .icon:active::after, .timelineItem > .bar > .icon:active::after {
	opacity: 1;
}
.children {
	margin-left: 24px;
	overflow: visible;
}
:not(.open) > .children {
	display: none;
}
#contentContainer {
	flex-grow: 1;
	position: relative;
	overflow: auto;
}
#content {
	position: absolute;
	background-color: #ffffff;
}
#timelineContainer {
	height: 300px;
	min-height: 300px;
	border-right: 1px solid #d0d0d0;
	box-shadow: 0 -3px 1px -2px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
#timelineContainer > .contents {
	display: flex;
	height: calc(100% - 22px);
}
#timelineItemContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 298px;
	padding-right: 3px;
}
#timelineItemContainer > .handle {
	width: 7px;
	padding: 0 3px;
	background-clip: content-box;
	background-color: #d0d0d0;
}
#timelineItems {
	padding-bottom: 12px;
}
#timelineItems::-webkit-scrollbar {
	width: 0;
}
.timelineItem > .bar {
	border-bottom: 1px solid #d0d0d0;
}
#timelineArea {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1000;
	flex-direction: column;
	position: relative;
	min-width: 150px;
	margin-left: -4px;
	border-right: 1px solid #d0d0d0;
}
#scrubber {
	position: absolute;
	width: 1px;
	height: calc(100% - 13px);
	z-index: 1;
	background-color: #8000ff;
	pointer-events: none;
}
#timeRuler {
	position: relative;
	height: 30px;
	min-height: 30px;
	margin-right: -1px;
	padding-right: 14px;
	overflow-x: scroll;
	white-space: nowrap;
}
#timeRuler::-webkit-scrollbar {
	display: none;
}
#loopField {
	display: flex;
	position: absolute;
	left: 1px;
	top: 0;
	width: inherit;
	height: 100%;
	min-width: 100%;
	overflow: visible;
	pointer-events: initial;
}
.loopRange {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
.loopRange.start {
	margin-left: -1px;
	border-right: 2px solid #8000ff;
}
.loopRange.end {
	flex-grow: 1;
	border-left: 2px solid #8000ff;
}
#timeUnits {
	display: inline-block;
	position: absolute;
	left: 1px;
	height: 100%;
	overflow: visible;
	color: #808080;
}
.timeUnit {
	display: inline-block;
	position: relative;
	height: 100%;
	padding-right: 1px;
	overflow: visible;
}
.timeUnit.selected {
	background-color: rgba(128, 0, 255, 0.075);
}
.timeUnit.focus {
	border-top: 1px solid #8000ff;
}
.timeLabel, .timeUnitLabel {
	position: absolute;
	height: 100%;
	margin-left: 1px;
	z-index: 1;
	overflow: visible;
}
.timeLabel > .label, .timeUnitLabel > .label {
	position: absolute;
}
.timeLabel > .label {
	bottom: 20px;
	font-size: 10px;
	line-height: 11px;
}
.timeUnitLabel > .label {
	bottom: 8px;
	font-size: 12px;
	line-height: 13px;
}
.second .timeLabel > .label {
	bottom: 17px;
	font-size: 12px;
	line-height: 13px;
}
.second .timeUnitLabel > .label {
	bottom: 9px;
	font-size: 10px;
	line-height: 11px;
}
.timeLabel::before, .timeUnitLabel::before, .timeUnit::before {
	position: absolute;
	bottom: 0;
	width: 1px;
	background-color: #d0d0d0;
	pointer-events: none;
	content: "";
}
.timeUnit::before {
	right: 0;
	height: 9px;
}
.timeUnitLabel::before, .timeLabel::before {
	left: -2px;
}
.timeUnitLabel::before {
	height: 20px;
}
.timeLabel::before {
	height: 30px;
}
#timelineBox {
	margin: 0 -1px 0 0;
	overflow: scroll;
}
#timelineBox > .filler {
	margin-bottom: -4px;
}
#timelines {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	white-space: nowrap;
}
.timeline {
	width: 100%;
	height: 24px;
	border-bottom: 1px solid #d0d0d0;
}
.frame {
	display: inline-block;
	position: relative;
	height: 100%;
	border-right: 1px solid #d0d0d0;
}
.frame.highlight {
	background-color: rgba(128, 0, 255, 0.035);
}
.frame.focusHighlight {
	background-color: rgba(128, 0, 255, 0.065);
}
.frame.selected {
	background-color: rgba(128, 0, 255, 0.16);
}
.frame.focus {
	background-color: rgba(128, 0, 255, 0.25);
}
.frame::before {
	position: absolute;
}
.frame.keyframe::before {
	left: 50%;
	top: 50%;
	width: 10px;
	height: 10px;
	background-color: #000000;
	transform: translate(calc(-50% - 0.5px), -50%) rotate(45deg);
	content: "";
}
.frame.tween {
	overflow: visible;
}
.frame.tween::before {
	top: 50%;
	width: calc(100% + 2px);
	height: 4px;
	background-color: #808080;
	transform: translate(-1px, -50%);
	content: "";
}
.frame.dynamic::before {
	background-color: #bf80ff;
}
#timelineContainer > .foot {
	display: flex;
	overflow: visible;
}
#footStart {
	display: flex;
}
#footEnd {
	display: flex;
	flex-grow: 1;
	overflow: visible;
	opacity: 0.6;
}
#footEnd > .mdc-slider {
	flex-grow: 1;
	width: 0;
	margin: -1px 8px 0 8px;
}
#timelineContainer > .foot [data-key="currentFrame"] {
	text-align: right;
}
#propertyContainer {
	flex-grow: 1;
	border-bottom: 1px solid #d0d0d0;
	z-index: 0;
	overflow-y: auto;
}
.property {
	position: relative;
}
.property.array .mdc-text-field, .property.array .mdc-text-field {
	display; inline-block;
	width: initial;
	height: initial !important;
}
.property.array input, .property.array input {
	padding-top: 0;
	text-align: center;
}
.property[data-key="preview"] img {
	max-width: 100%;
	background-position: 0px 0px, 10px 10px;
	background-size: 20px 20px;
	cursor: pointer;
}
.property[data-key="preview"] audio {
	width: 100%;
}
#downloadAsset {
	margin-top: 4px;
}
#fullPreview {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	overflow: auto;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	transition: opacity 0.12s ease-out;
}
#fullPreview img {
	position: absolute;
}
#layerContainer {
	height: 300px;
	min-height: 300px;
}
#layerBox table {
	border-spacing: 0;
	overflow: visible;
}
.layer {
	height: 24px;
	cursor: default;
}
.layer td:first-child {
	padding: 0 8px 0 6px;
	opacity: 0.5;
}
#sceneBox {
	display: flex;
}
#sceneContainer {
	width: 100%;
	border: 1px solid #d0d0d0;
	color: #000000;
}
.scene > .bar > .icon::before {
	content: "movie";
}
#statusBar {
	display: flex;
	height: 26px;
	min-height: 26px;
	padding: 4px 8px;
	border-top: 1px solid #d0d0d0;
	cursor: default;
	background-color: #e8e8e8;
	font-size: 14px;
	color: #909090;
}
#statusBar > div {
	display: inline-block;
	text-overflow: ellipsis;
}
#statusBar .material-icons {
	position: relative;
	top: -1px;
	padding-top: 2px;
	vertical-align: bottom;
	font-size: 15px;
}
#targetIndicator {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	z-index: 5;
	pointer-events: none;
	background-color: #8000ff;
	transition: opacity 0.15s ease-out;
}
#targetIndicator.visible {
	opacity: 0.2;
}
