@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto.woff2);
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border: 2px solid transparent;
	background-clip: content-box;
	background-color: rgba(128, 0, 255, 0.25);
}
::-webkit-scrollbar-thumb:active {
	background-color: rgba(128, 0, 255, 0.5);
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
::selection {
	background-color: #8000ff;
	color: #ffffff;
}
* {
	overflow: hidden;
	caret-color: currentColor !important;
	outline: none;
}
body {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	user-select: none;
}
.indeterminate, .loading {
	cursor: wait;
}
div {
	box-sizing: border-box;
}
.hidden {
	display: none !important;
}
.intangible, .intangible * {
	pointer-events: none !important;
}
.spaced + .spaced {
	margin-left: 6px;
}
.bold {
	font-weight: bold;
}
hr {
	pointer-events: none;
	border-top-color: rgba(0, 0, 0, 0.1);
	border-left-width: 0;
	border-bottom-width: 0;
}
button:disabled {
	opacity: 0.5;
	pointer-events: none;
}
button:focus {
	outline: none;
}
button * {
	pointer-events: none;
}
.mdc-fab .mdc-fab__icon {
	width: inherit;
	height: inherit;
}
.double-fab .material-icons:first-child {
	position: relative;
	left: 8px;
	top: -1px;
}
.double-fab .material-icons:last-child {
	position: relative;
	left: -2px;
	top: 6px;
	transform: scale(0.75);
}
.mdc-text-field {
	width: 100%;
}
.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) {
	margin-top: 0;
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input:read-only {
	border-bottom: 1px dotted rgba(35, 31, 32, 0.26);
}
.mdc-text-field__input:read-only ~ .mdc-line-ripple {
	display: none;
}
label {
	pointer-events: none;
}
.alwaysFloat {
	transform: translateY(-100%) scale(0.75);
}
label:not(.mdc-floating-label) {
	display: block;
	margin: 4px 0 2px 0;
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.6);
}
.opaque {
	opacity: 1 !important;
}
.checkerboard {
	background: linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%, #eeeeee 100%), linear-gradient(45deg, #eeeeee 25%, #ffffff 25%, #ffffff 75%, #eeeeee 75%, #eeeeee 100%);
	background-position: 0px 0px, 10px 10px;
	background-size: 20px 20px;
}
.hoverScrollbar {
	cursor: default !important;
}
.mdc-chip {
	height: initial;
	padding: 2px 8px;
}
.mdc-chip__text {
	pointer-events: none;
}
.mdc-chip--selected {
	pointer-events: none;
	background-color: #f4f4f4;
}
.barCell {
	width: 100%;
	max-width: 0;
	padding: 0;
	overflow: visible;
}
.bar {
	display: flex;
	position: relative;
	height: 24px;
	pointer-events: initial;
}
.barCell > .bar {
	padding-left: 2px;
}
.focus > .bar, .focus > .barCell > .bar {
	background-color: rgba(128, 0, 255, 0.05);
}
.selected > .bar, .selected > .barCell > .bar {
	background-color: rgba(128, 0, 255, 0.1);
}
.active .selected > .bar, .active .selected > .barCell > .bar {
	background-color: rgba(128, 0, 255, 0.15);
}
.bar > .icon {
	min-width: 24px;
	margin-right: 4px;
	pointer-events: none;
}
.bar > .close {
	background-color: transparent;
}
.label {
	line-height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.label:not(td) {
	pointer-events: none;
}
.close {
	top: 3px;
	right: 3px;
	border-radius: 50%;
	pointer-events: initial;
	background-color: inherit;
	transform: scale(0);
	transition: transform 0.08s ease-out;
	font-size: 18px;
}
.close:not(td) {
	position: absolute;
}
.close::after {
	opacity: 0.25;
	content: "close";
}
:hover > .close {
	transform: scale(1);
}
.close:hover::after {
	opacity: 0.625;
}
.close:active::after {
	opacity: 1;
}
.drag {
	position: relative;
	top: -1px;
	width: 100%;
	height: 2px;
	margin-bottom: -2px;
	background-color: #8000ff;
}
#container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	position: relative;
	background-color: #d0d0d0;
}
.mdc-dialog, .mdc-dialog__backdrop {
	position: absolute;
}
.mdc-dialog__surface {
	width: auto;
	min-width: 280px;
	max-width: 880px;
	max-height: 100%;
	margin: 15px;
	word-break: break-word;
	word-wrap: break-word;
}
.mdc-dialog__body {
	overflow-y: auto;
}
.mdc-dialog__header, .mdc-dialog__footer {
	flex-shrink: 0;
}
#tabs {
	display: flex;
	width: 100%;
	height: 24px;
	min-height: 24px;
	cursor: default;
}
.tab {
	position: relative;
	left: 0;
	width: 256px;
	min-width: 36px;
	margin-right: 1px;
	padding: 0 4px;
	border-radius: 6px 6px 0 0;
	background-color: #e0e0e0;
	text-align: center;
	white-space: nowrap;
}
.tab:not(.current):hover {
	background-color: #e6e6e6;
}
.tab.current {
	z-index: 4;
	background-color: #f0f0f0;
}
.tab .label {
	font-size: 14px;
}
.tab:not(.saved) .label::before {
	color: #8000ff;
	content: "*"
}
#homeTab {
	width: initial;
	padding: 0 4px;
}
#homeTab .label {
	font-size: 20px;
}
.tab.smooth {
	transition: left 0.15s ease-out;
}
#toolbar {
	position: relative;
	width: 100%;
	min-height: 48px;
	padding: 6px;
	z-index: 3;
	white-space: nowrap;
	background-color: #f0f0f0;
}
#toolbar button {
	width: 36px;
	height: 36px;
	border-radius: 8px;
	box-shadow: none;
	background-color: #6e00db;
}
#loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba(128, 0, 255, 0.3);
}
@keyframes indeterminate {
	0% {
		left: -50%;
	}
	100% {
		left: 100%;
	}
}
.indeterminate #loading {
	display: block;
	width: 50%;
	animation: indeterminate 2s infinite linear;
}
.loading #loading {
	display: block;
	width: 0;
}
.page {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 100%;
}
#homePage {
	background-color: #e0e0e0;
	background-image: url(../icon.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.panelGroup {
	display: flex;
	position: relative;
}
#allPanels {
	flex-grow: 1;
}
#leftPanels {
	flex-grow: 1;
	flex-direction: column;
	min-width: 300px;
}
#topPanels {
	flex-grow: 1;
	min-height: 150px;
}
#rightPanels {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-width: 150px;
	box-shadow: -3px 0 1px -2px rgba(0, 0, 0, 0.2);
}
.handle {
	position: absolute;
	z-index: 1;
}
.handle.left, .handle.top {
	left: 0;
	top: 0;
}
.handle.right, .handle.bottom {
	right: 0;
	bottom: 0;
}
.handle.left, .handle.right {
	width: 4px;
	height: 100%;
	cursor: ew-resize;
}
.handle.top, .handle.bottom {
	width: 100%;
	height: 4px;
	cursor: ns-resize;
}
.panel {
	position: relative;
	min-width: 150px;
	min-height: 150px;
	padding: 6px;
	background-color: #f0f0f0;
}
#assetContainer {
	width: 300px;
	min-width: 150px;
	border-bottom: 1px solid #d0d0d0;
	box-shadow: 3px 0 1px -2px rgba(0, 0, 0, 0.2);
	z-index: 2;
}
#contentContainer {
	min-width: 150px;
	min-height: 150px;
}
.panel > .contents {
	height: 100%;
}
#assetContainer > .contents, #layerContainer > .contents {
	display: flex;
	flex-direction: column;
}
.panel > .contents > .head {
	min-height: 24px;
	line-height: 23px;
}
#assetContainer > .contents > .head > button {
	width: 24px;
	height: 24px;
	box-shadow: none;
	vertical-align: bottom;
	background-color: #6e00db;
}
#assetContainer > .contents > .head > button span {
	width: 24px;
	height: 24px;
	font-size: 18px;
}
#assets, #layerBox {
	flex-grow: 1;
	position: relative;
	margin-top: 6px;
	padding: 2px;
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
	overflow-y: auto;
	background-color: #e8e8e8;
}
.asset {
	overflow: visible;
	pointer-events: none;
}
.asset.typeGroup > .bar > .icon {
	pointer-events: initial;
	cursor: pointer;
	transform: rotate(0);
	transition: transform 0.08s ease-out;
}
.asset.typeGroup > .bar > .icon::after {
	opacity: 0.25;
	content: "chevron_right";
}
.asset.typeGroup > .bar > .icon:hover::after {
	opacity: 0.625;
}
.asset.typeGroup > .bar > .icon:active::after {
	opacity: 1;
}
.asset.typeGroup.open > .bar > .icon {
	transform: rotate(90deg);
}
.asset.typeObj > .bar > .icon::after {
	content: "widgets";
}
.asset.typeFile[data-mime^="image/"] > .bar > .icon::after {
	content: "image";
}
.asset.typeFile[data-mime^="audio/"] > .bar > .icon::after {
	content: "audiotrack";
}
.assetChildren {
	margin-left: 24px;
	overflow: visible;
}
.asset.typeGroup:not(.open) > .assetChildren {
	display: none;
}
#contentContainer {
	flex-grow: 1;
	position: relative;
	overflow: auto;
}
#content {
	position: absolute;
	background-color: #ffffff;
}
#timelineContainer {
	height: 300px;
	min-height: 300px;
	border-right: 1px solid #d0d0d0;
	box-shadow: 0 -3px 1px -2px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
#propertyContainer {
	flex-grow: 1;
	border-bottom: 1px solid #d0d0d0;
	z-index: 0;
	overflow-y: auto;
}
.property {
	position: relative;
}
.property[data-key="canvasSize"] .mdc-text-field {
	display; inline-block;
	width: initial;
	height: initial !important;
}
.property[data-key="canvasSize"] input {
	padding-top: 0;
	text-align: center;
}
.property[data-key="preview"] img {
	max-width: 100%;
	background-position: 0px 0px, 10px 10px;
	background-size: 20px 20px;
	cursor: pointer;
}
.property[data-key="preview"] audio[controls] {
	width: 100%;
}
#downloadAsset {
	margin-top: 4px;
}
#fullPreview {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	overflow: auto;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	transition: opacity 0.12s ease-out;
}
#fullPreview img {
	position: absolute;
}
#layerContainer {
	height: 300px;
	min-height: 300px;
}
#layerBox table {
	border-spacing: 0;
	overflow: visible;
}
.layer {
	height: 24px;
	cursor: default;
}
.layer td:first-child {
	padding: 0 8px 0 6px;
	opacity: 0.5;
}
#statusBar {
	display: flex;
	height: 26px;
	padding: 4px 8px;
	border-top: 1px solid #d0d0d0;
	background-color: #e8e8e8;
	font-size: 14px;
	color: #909090;
	pointer-events: none;
}
#statusBar > div {
	display: inline-block;
	text-overflow: ellipsis;
}
#statusBar .separator {
	width: 1px;
	height: 100%;
	margin: 0 8px;
	background-color: #d0d0d0;
}
#statusBar .material-icons {
	position: relative;
	top: -1px;
	padding-top: 2px;
	vertical-align: bottom;
	font-size: 15px;
}
#targetIndicator {
	position: absolute;
	background-color: #8000ff;
	opacity: 0;
	z-index: 5;
	pointer-events: none;
	transition: opacity 0.15s ease-out;
}
#targetIndicator.visible {
	opacity: 0.2;
}
