body {
	margin: 0;
	overflow: hidden;
}
.hidden {
	display: none;
}
.spaced + .spaced {
	margin-left: 6px;
}
.bold {
	font-weight: bold;
}
.double-fab .material-icons:first-child {
	position: relative;
	left: 11px;
	bottom: 1px;
}
.double-fab .material-icons:last-child {
	position: relative;
	top: 6px;
	right: 5px;
	transform: scale(0.75);
}
#container {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #d0d0d0;
}
.mdc-dialog__surface {
	width: auto;
	min-width: 280px;
	max-width: 880px;
	max-height: 100%;
	margin: 15px;
	word-break: break-word;
	word-wrap: break-word;
}
.mdc-dialog__body {
	overflow-y: auto;
}
.mdc-dialog__header, .mdc-dialog__footer {
	flex-shrink: 0;
}
#tabs {
	display: flex;
	width: 100%;
	height: 24px;
	cursor: default;
	user-select: none;
}
.tab {
	position: relative;
	left: 0;
	width: 172px;
	min-width: 36px;
	margin-right: 1px;
	padding: 0 4px;
	border-radius: 6px 6px 0 0;
	overflow: hidden;
	background-color: #e0e0e0;
	text-align: center;
	white-space: nowrap;
}
.tab:not(.current):hover {
	background-color: #e6e6e6;
}
.tab.current {
	background-color: #f0f0f0;
	z-index: 2;
}
.tab .label {
	padding-top: 4px;
	overflow: hidden;
	pointer-events: none;
	font-size: 14px;
}
.tab:not(.saved) .label::before {
	color: #ff0000;
	content: "*"
}
.tab .close {
	position: absolute;
	top: 3px;
	right: 3px;
	border-radius: 50%;
	background-color: inherit;
	transform: scale(0);
	transition: transform 0.08s ease-out;
	font-size: 18px;
}
.tab .close::after {
	opacity: 0.25;
	content: "close";
}
.tab:hover .close {
	transform: scale(1);
}
.tab .close:hover::after {
	opacity: 0.625;
}
.tab .close:active::after {
	opacity: 1;
}
#homeTab {
	width: initial;
	padding: 0 4px;
}
#homeTab .label {
	padding-top: 3px;
	font-size: 20px;
}
.smooth {
	transition: left 0.15s ease-out;
}
#toolbar {
	width: 100%;
	height: 36px;
	padding: 6px;
	z-index: 1;
	background-color: #f0f0f0;
}
#toolbar button {
	width: 36px;
	height: 36px;
	border-radius: 8px;
	box-shadow: none;
	background-color: #6d6d6d;
}
#toolbar button * {
	pointer-events: none;
}
#pages {
	flex-grow: 1;
	width: 100%;
	background-color: #f0f0f0;
}
button:disabled {
	opacity: 0.5;
	pointer-events: none;
}
